[Unit]
Description=rTorrent

[Container]
Image=docker.io/drrako/rtorrent:latest
StopTimeout=180
AutoUpdate=registry
Network=host
Ulimit=nofile=32000:40000
Ulimit=nproc=65535
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Etc/UTC
Environment=RT_DEFAULT_DIR=/media/library/downloads
Environment=RT_DHT_PORT=6881
Environment=XMLRPC_PORT=8000
Environment=RT_INC_PORT=50000
Volume=/home/PUID_USER/rtorrent:/data
Volume=/home/PUID_USER/rtorrent/passwd:/passwd
Volume=/media/library:/media/library

[Service]
Restart=always
TimeoutStopSec=180

[Install]
WantedBy=multi-user.target